*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}
.container{
    height: 100vh;
    outline: none;
}

.title-bar{
    height: 5vh;
}

/* Menu */
.menu{
    height: 15vh;
}
.menu-icon-bar{
    height: 12vh;
}
.menu-bar .menu-item{
    padding: 5px;
}

.menu-bar .menu-item:hover{
    background-color: white;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px;
    cursor: pointer;
}
.menu-bar .menu-item.home{
    background-color: white;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px;
}
.menu-bar .menu-item.home:hover{
    cursor: default;
}
.menu-icon{
    height: 100%;
    padding: 5px;
}
.menu-icon:hover{
    cursor: pointer;
    background-color: #e2e2e2;
}
.color-picker-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.color-picker-wrapper input[type="color"] {
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
}
.color-picker-wrapper input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
.color-picker-wrapper input[type="color"]::-webkit-color-swatch {
    border: none;
}
.color-picker-wrapper .material-icons {
    cursor: pointer;
}
#colorPicker {
    display: none;
}
.menu-icon.selected{
    background-color: #e2e2e2;
}

/* Formula Bar */
.formula-bar{
    height: 5vh;
}

/* Cell Bar */
.cell-bar{
    height: calc(100vh - 25vh);
    width: 100vw;
}
.cell-col-bar{
    border-bottom: 1px solid black;
    height: 2.5vh;
}
.select-all{
    min-width: 25px;
    height: 2.5vh;
    border-right: 1px solid black;
    font-weight: 600;
}
.select-all:hover{
    cursor:default;
}
.cell-row-bar{
    min-height: 70vh;
    width: 100vw;
}
.cell-row{
    min-height: 70vh;
    max-width: 25px;
    border-right: 1px solid black;
    overflow: hidden;
}
.cell-col-bar .column-name{
    min-width: 100px;
    height: 2.5vh;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    font-weight: 600;
}
.cell-col{
    overflow: hidden;
    width: calc(100vw - 25px);
}
.row-name{
    width: 25px;
    min-height: 2.5vh;
    font-size: small;
    font-weight: 600;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell{
    min-height: 70vh;
    width: 100vw;
    overflow: scroll;
}
.cell .row{
    min-height: 2.5vh;
}
.cell .row .box{
    border-bottom: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    min-width: 100px;
    height: 2.5vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 1px;
}
.cell .row .box.selected{
    border: 2px solid #227447;
}
.cell .row .box.box-top-selected{
    border-top: none;
}
.cell .row .box.box-bottom-selected{
    border-bottom: 1px solid #c4c4c4;
}
.cell .row .box.box-left-selected{
    border-left: none;
}
.cell .row .box.box-right-selected{
    border-right: 1px solid #c4c4c4;
}


/* Sheet Bar */
.sheet-bar{
    height: 3.5vh;
}
.sheet-tab{
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.icon-add:hover{
    transform: scale(1.2);
}
.sheet-tab:hover{
    cursor: default;
}